@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');

/* ----------------Variables---------------------*/
$text: #2081e2;
$secondText: #ffffff;
$background: #202225;
$main: #04111d;
$block: #303339;
$btn__bg: #007aff;
$main__text: #1d1d1d;
/* ----------------------------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

body {
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  color: $text;
  background: #ffffff;
}

.header {
  width: 100%;
  height: 30px;
  background: $main;
  text-align: left;
  svg {fill: #ffffff;}
}

@keyframes slideLogo {
  from {transform: translateX(-400px); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

@keyframes slideHome {
  from {transform: translateX(850px); opacity: 0;}
  to {transform: translateX(0); opacity: 1;}
}

.btn {
    min-width: 250px;
    text-decoration: none;
    border-radius: 50px;
    position: relative;
    padding: 13px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-left: 30px;
    border: none;
    transition: 0.3s color ease;
    min-height: 53px;

    &.btn__inverse {
      background-color: #8b8b8b;
    }

    &.btn__primary {
      background: $btn__bg;
    }

    p {
      position: relative;
      z-index: 2;
    }

    .icon {
      position: absolute;
      background: #ffffff;
      top: 4px;
      left: 4px;
      padding: 10px;
      width: 45px;
      border-radius: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transition: 0.3s all ease;
      z-index: 1;

      svg {
        background: #ffffff;
        width: 24px;
        height: 24px;
      }
    }

    &:hover {
      color: #000000;

      > .icon {
        width: 96.5%;
        border-radius: 50px;
      }
    }
}

.site__header {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 25px;

  .logo {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      max-width: 300px;
    }
  }

  .price__checker {
    width: 20%;
    text-decoration: none;
    border-radius: 50px;
    background-color: $btn__bg;
    position: relative;
    padding: 13px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding-left: 30px;
    transition: 0.3s color ease;

    p {
      position: relative;
      z-index: 2;
    }

    .icon {
      position: absolute;
      background: #ffffff;
      top: 4px;
      left: 4px;
      //right: 4px;
      padding: 10px;
      width: 45px;
      border-radius: 50px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transition: 0.3s all ease;
      z-index: 1;

      svg {
        background: #ffffff;
        width: 24px;
        height: 24px;
      }

      .desktop__icon {
        display: flex;
        align-items: center;
      }

      .mobile__icon {display: none;}
    }

    &:hover {
      color: #000000;

      > .icon {
        width: 96.5%;
        border-radius: 50px;
      }
    }
  }
}

@media (max-width: 767px) {
  .header {height: 20px;}

  .site__header {
    margin-bottom: 10px;
    justify-content: space-between;

    .logo {
      img {
        max-width: 200px;
      }
    }
    .price__checker {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: unset;
      border-radius: 100%;
      width: 60px;
      height: 60px;

      p {display: none;}
      .icon {
        .desktop__icon {display: none;}
        .mobile__icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .icon {
        position: relative;
        left: auto;
        top: auto;
        width: auto;
        border-radius: 100%;
      }
    }
  }
}

.hero__wrapper {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero {
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    text-align: center;

    .benefits__grid {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;

      .benefit {
        margin: 0 20px;

        p {
          color: $main__text;
          font-size: 18px;
        }

        .star__grid {
          svg {
            width: 18px;
            height: 18px;
            margin: 0 4px;
            fill: $main__text;
          }
        }
      }
    }

    .hero__title {
      font-size: 6vw;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 10px;
      color: $main__text;
    }

    .hero__subtitle {
      font-size: 20px;
      color: $main__text;
      padding: 0 35px;
    }

    .hero__buttons {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 25px;

      .btn {
        margin: 0 5px;
      }
    }
  }
}

@media (max-width: 767px) {
  .hero__wrapper {
    min-height: unset;

    .hero {
      padding: 0 15px;

      .hero__title {
        font-size: 10vw;
      }

      .hero__subtitle {
        font-size: 18px;
      }

      .benefits__grid {
        .benefit {
          margin: 0 10px;
          p {
            font-size: 4vw;
          }
          .star__grid {
            svg {
              margin: 0 1px;
              width: 3vw;
              height: 3vw;
            }
          }
        }
      }
    }
  }

  .hero__wrapper .hero .hero__buttons a {
    width: 100%;
    &:first-child {margin-bottom: 10px;}
  }
}

.mockups__wrapper {
  padding: 50px;

  .mockups {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5vw;
    align-items: flex-end;
    overflow: hidden;

    .mockup {
      .mockup__img {
        img {
          width: 100%;
          height: 100%;
        }
      }

      .mockup__info {
        text-align: center;
        margin-bottom: 15px;
        padding: 0 25px;

        p {
          font-size: 22px;
          color: #000000;
        }

        svg {
          width: 42px;
          height: 42px;
          fill: $btn__bg;
        }
      }

      &.mockup-1 {margin-bottom: -125px;}
      &.mockup-2 {margin-bottom: -70px;}
      &.mockup-3 {margin-bottom: -45px;}
      &.mockup-4 {margin-bottom: -100px;}
    }

    &.mobile__mockups {
      display: none;

      .mockup {
        margin-bottom: 0;
        width: auto;

        .mockup__info {
          padding: 0 20px;
        }

        .mockup__img {
          img {
            width: auto;
            height: 50vh;
            margin: auto;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .mockups__wrapper .mockups {
    &.desktop__mockups {display: none;}
    &.mobile__mockups {display: block;}
  }
}

.video__wrapper {
  padding: 50px;
  background-color: #f0f2f4;
  display: flex;
  justify-content: center;
  align-items: center;

  .video {
    width: 100%;

    .desktop__video {display:  block;}
    .mobile__video {display: none;}

    p {
      font-size: 32px;
      text-align: center;
      font-weight: 700;
      margin-top: 15px;
      color: $main__text;
    }
  }
}

@media (max-width: 767px) {
  .video__wrapper .video {
    .desktop__video {display:  none;}
    .mobile__video {display: block;}
    p {font-size: 22px;}
  }
}

.searchPage_container {
  position: relative;
  padding: 25px;
  background: #1d1d1f;
  animation: 1.5s fadeIn forwards;
}

.search-top {
  width: 100%;
  max-height: 35vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  z-index: 0;
}

.searchPage {
  width: 100%;
  z-index: 1;
  position: relative;
  padding-bottom: 30px;

  .searchPageGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5em;
    max-width: 1200px;
    margin: 40px auto 0;
    padding: 0 25px;
    background-color: #1d1d1f;
    border-radius: 30px;
    padding: 50px;

    .right-side {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .bag {
      background: $block;
      box-shadow: 0 0 20px -3px rgba(0, 0, 0, 0.25);
      min-height: 300px;
      width: 100%;
      margin: auto;
      border-radius: 15px;

      h1 {
        color: $secondText;
        font-size: 48px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 15px 0;
        border-bottom: 1px dashed rgba(0, 0, 0, 0.5);
      }
    }
  }

  h1 {  
    text-align: center;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: 5px;
    padding-top: 25px;
  }

  form {
    margin: 0;


    .group {
      display: flex;
      align-items: flex-end;
      flex-direction: row-reverse;

      button {
        position: relative;
        height: 55px;
        padding: 0 15px;
        line-height: normal;
        border-radius: 0;
        border: none;
        color: #ffffff;
        background-color: rgba(255, 255, 255, 1);
        transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
        z-index: 1;
        -webkit-tap-highlight-color: initial;
        width: 25%;
        cursor: pointer;
        color: $secondText;
        font-weight: 400;
        font-size: 20px;

        svg {
          fill: #ffffff;
          width: 32px;
          height: 32px;
        }

        &::before {
          transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
          position: absolute;
          content: "";
          display: block;
          left: 0;
          top: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          transform: scale(1, 1);
          transform-origin: left center;
          z-index: -1;
          background: $btn__bg;
        }

        &:hover::before {
          transform-origin: right center;
          transform: scale(0, 1);
        }

        &:hover {
          color: #000000;
          svg {fill: #000000;}
        }
      }

      button:hover {
        opacity: 0.8;
      }
    }

    input {
      width: 75%;
      height: 55px;
      background: rgba(255, 255, 255, .8);
      margin-top: 10px;
      text-align: left;
      padding: 0 20px;
      font-size: 18px;
      font-family: 'Heebo', sans-serif;
      border: none;

    }

    label {
      font-size: 18px;
      letter-spacing: 2px;
      margin: 0 10px;
      color: #ffffff;
    }

    .maxedBtn {
      color: #000;
      background: rgba(193, 18, 31, 0.8) !important;
      font-size: 26px;
      font-family: "Heebo",sans-serif;
      width: 220px;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;
    }

    .error {
      background: rgba(193, 18, 31, 0.8) !important;
      color: $secondText;
      margin: 15px auto 0;
      width: 100%;
      height: 35px;
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.resultsPage {
  width: 100%;
  background: $background;
  padding: 15px 60px 35px;
  animation: 2s fadeIn forwards;

  .inside {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: auto 70%;
    column-gap: 40px;
    animation: 2s fadeIn forwards;

    .left {
      position: relative;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 6px;
    color: $secondText;

    span {
      display: block;
      font-size: 14px;
    }
    .flag-icon {margin-right: 20px;}
  }

  .block {
    min-height: 500px;
    width: 100%;
    background: $block;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    color: #000;
    position: relative;

    hr:last-child {
      display: none;
    }

    .loader {
      margin: 0;
      position: absolute;
      top: 30%;
      left: 30%;
      transform: translate(-50%, -50%);      
    }
  }

  .right {
    .block {
      background: rgb(45,48,54);
      background: linear-gradient(146deg, rgba(45,48,54,1) 0%, rgba(32,34,37,1) 100%);
    }
    .country {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      padding: 10px 10px;
      cursor: pointer;

      &:first-child {
        background: rgba(128, 185, 24, 0.7);
        border-top-right-radius: 8px;       
        border-top-left-radius: 8px;
      }

      &:last-of-type {
        background: rgba(193, 18, 31, 0.8);
        border-bottom-right-radius: 8px;       
        border-bottom-left-radius: 8px;
        height: 100%;
      }     

      &:hover {
        background: rgba(255,255,255,0.2);
        &:first-child {background: rgba(128, 185, 24, 0.2);}
        &:last-of-type {background: rgba(193, 18, 31, 0.2);}
      }
      
      .name {
        display: flex;
        align-items: flex-start;

        .flag-icon {
          width: 30px;
          height: 20px;
        }

        p {
          margin-right: 8px;
          font-size: 16px;
          font-weight: 300;
          color: $secondText;
        }
      }

      .price {
        color: $secondText;
        font-size: 16px;
      }
    }
  }

  .left {

    .block {
      padding: 20px 0;
    }
    .product {
      display: grid;
      grid-template-columns: 100px auto;
      column-gap: 20px;
      width: 90%;
      margin: 0 auto;
      padding: 20px 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);

      &:last-child {border-bottom: none;}

      .image {
        img {
          width: 100px;
          height: 120px;
          object-fit: cover;
        }
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 20px;

        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;

          a {
            color: #e76f51;
            text-decoration: none;
          }

          .productPrice {
            color: #80b918;
          }
        }

        .productName {
          font-weight: 400;
          letter-spacing: normal;
          text-align: left;
          font-size: 20px;
          margin-bottom: 0;
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .available__sizes {
            width: 30%;
            font-size: 18px;
            color: #ffffff;
          }

          .productSizes {
            color: #80b918;
            font-size: 14px;
            text-align: left;
          }
        }
      }
    }

    hr {
      margin: 15px auto;
      border-radius: 50%;
      width: 90%;

    }

    .subTotal {
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 15px auto;

      p {color: $secondText;}

      .total {
        color: #80b918;

        &.red {
          color: #c1121f;
        }
      }
    }
  }
}

.readyProducts {
  max-width: 1200px;
  margin: 15px auto 15px;

  .miniProduct {
    display: flex;
    margin: 0 22px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
    animation: 1s fadeIn forwards;
    
    &:last-child {border: none;}

    p {
      color: #ffffff;
      margin-top: 10px;
      font-size: 18px;
      text-align: left;
    }
  }

  button {
    background: transparent;
    border: none;
    margin-left: 10px;
  }

  .remove {
    display: none;
  }

  button:hover {
    .remove {display: block;}
    .check {display: none;}
  }

  .image {
    width: 115px;
    height: 150px;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
    }
  }
}

.buttonCont {
  .btn {
    width: 100%;
  }

  .error {
    background: rgba(193, 18, 31, 0.8) !important;
    color: $secondText;
    margin: 15px auto;
    width: 100%;
    font-size: 26px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.calcButton {
  border: none;
  background: $main;
  color: $secondText;
  font-weight: 700;
  font-size: 26px;
  padding: 10px 15px;
  border-radius: 5px;
  letter-spacing: 3px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  transition:0.3s all ease;
  margin-top: 20px;

  &:hover {
    opacity: 0.7;
  }
}

.loader__container {
  height: calc(100vh - 65px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 20em;
  height: 20em;
}
.loader {
  margin: 150px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  transition: 0.3s all ease;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.moreSearch {
  color: $secondText;
  background: rgba(193, 18, 31, 0.5);
  font-size: 20px;
  font-family: "Heebo",sans-serif;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border: none;
  float: left;
  transition: 0.3s all ease; 
}

.moreSearch:hover {
  color: #fff;
  background: #c1121f;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

@media (max-width: 1040px) {
  .resultsPage {padding: 15px 25px 35px;}
  .resultsPage .right .country .name p {font-size: 18px;}
  .resultsPage .right .country .name .flag-icon {width: 32px; height: 22px;}
  .resultsPage .right .country .price {font-size: 16px;}
  .resultsPage .inside {column-gap: 20px;}
  .searchPage .searchPageGrid {}
}

@media (max-width: 850px) {
  .searchPage .searchPageGrid {grid-template-columns: repeat(1, 1fr); justify-content: center; padding: 15px;}
  .searchPage form .group {margin-bottom: 15px;}
  .search-top {min-height: 40vh;}
  .searchPage .searchPageGrid .right-side {width: 100%; margin: auto;}
  .homePage .inside .textBlock h1 {font-size: 45px;}
  .homePage .inside .textBlock h1 span {font-size: 50px;}
  .homePage .inside .textBlock p {font-size: 30px;}
  .searchPage form .group button {width: 40%; font-size: 18px; min-width: 110px;}
}

@media (max-width: 800px) {
  .resultsPage .inside {grid-template-columns: auto; grid-auto-flow: dense;}
  .resultsPage .block {min-height: 270px;}
  .resultsPage .inside .right {width: 100%; margin: auto; margin-bottom: 20px;}
  .resultsPage .left .product .text .bottom .available__sizes {width: 45%;}
  .resultsPage .left .product .text .bottom .productSizes {width: 55%;}

  .moreSearch {
    float: none;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .searchPage .searchPageGrid {padding: 5px; margin-top: 10px;}
  .searchPage h1 {font-size: 55px;}
  .searchPage form input {width: 90%;}
  .searchPage form label {font-size: 16px;}
  .calcButton {font-size: 30px;}
  .searchPage .searchPageGrid .bag {width: 100%;}
  .homePage .inside .textBlock button {font-size: 25px;}
  .search-top {min-height: 36vh;}
  .searchPage {padding-bottom: 0;}
}

@media (max-width: 450px) {
  .resultsPage .inside .right {width: 85%;}
  .resultsPage .left .product {grid-template-columns: auto;}
  .resultsPage .left .product .image {margin: auto; margin-bottom: 10px;}
  .resultsPage .left .product .image img {width: 150px; height: 170px;}
  .resultsPage .left .product .text .productName {margin: 15px 0;}
  .moreSearch {margin: 20px auto; float: none; display: block;}
  .readyProducts .miniProduct p {font-size: 14px;}

  .homePage {height: 70vh;}
  .homePage .inside .textBlock {text-align: center;}
  .homePage .inside .textBlock h1 {font-size: 35px;}
  .homePage .inside .textBlock h1 span {font-size: 40px;}
  .homePage .inside .textBlock p {font-size: 20px;}
  .homePage .inside .textBlock button {margin: 15px auto;}
}

.footer {
  width: 100%;
  height: 35px;
  background: $main;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultedCountry {
  opacity: 0;
  display: none;

  &.active {
    display: block;
    animation: 1s fadeIn ease forwards;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.benefits__wrapper {
  padding: 50px;
  .benefits {
    max-width: 1400px;
    margin: auto;

    .benefits__title {
      font-size: 3vw;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 10px;
      color: #1d1d1d;
      text-align: center;
      margin-bottom: 50px;
    }

    .benefits__grid {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-gap: 2em;
      color: #000000;

      .right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2em;
      }

      .left {
        .benefit {
          height: 100%;
        }
      }

      .benefit {
        background: #f0f2f4;
        border-radius: 0.625vw;
        padding: 30px 40px;

        svg {
          fill: $btn__bg;
          width: 40px;
          height: 40px;
          margin-bottom: 10px;
        }

        img {
          width: 80%;
          object-fit: contain;
          display: block;
          margin: 20px auto 30px;
        }

        .benefit__title {
          font-size: 1.2rem;
          font-weight: bold;
          margin-bottom: 10px;
        }

        .benefit__text {
          font-size: 1rem;

          p {
            margin-bottom: 15px;
            &:last-child {margin-bottom: 0;}
          }
        }

        .icons__grid {
          margin-top: 25px;

          .icon {
            display: flex;
            margin-bottom: 5px;
            font-weight: 700;

            svg {
              margin-left: 5px;
              fill: $btn__bg;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .benefits__wrapper {
    .benefits {

      .benefits__title {
        font-size: 36px;
      }

      .benefits__grid {
        display: block;

        .right {
          grid-gap: 0.7em;
        }

        .left {
          .benefit {margin-bottom: 10px;}
        }

        .benefit {
          .icons__grid {
            display: flex;
            flex-wrap: wrap;
            .icon {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .benefits__wrapper .benefits .benefits__grid .benefit .icons__grid .icon {width: 100%;}
  .benefits__wrapper .benefits .benefits__title {
    font-size: 30px;
    margin: 30px 0;
  }
  .benefits__wrapper {padding: 10px;}
  .benefits__wrapper .benefits .benefits__grid .right {grid-template-columns: 1fr;}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}